@import "./../../../../components/mixin";

.list-product {
    margin-top: 130px;
    background-color: var(--color-background-secondary);

    padding-top: 80px;
    padding-bottom: 80px;

    .info-product {
        text-align: center;

        h1 { 
            font-weight: 700;
            font-size: 57px;
            line-height: 34px;
            color: #000000;
            margin-bottom: 40px;

            @include responsive-1024 {
                font-size: 50px;
                margin-bottom: 35px;
            }

            @include responsive-945 {
                font-size: 38px;
                margin-bottom: 20px;
            }

            @include responsive-768 {
                font-size: 32px;
                margin-bottom: 14px;
            }

            @include responsive-480 {
                font-size: 28px;
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 34px;

            color: #333333;
            max-width: 790px;
            margin: auto;


            @include responsive-945 {
                font-size: 15px;
                line-height: 28px;
            }

            @include responsive-768 {
                font-size: 14px;
                max-width: 90%;
            }

            @include responsive-480 {
                font-size: 13px;
                max-width: 100%;
            }
        }
    }


    @include responsive-768 {
        margin-top: 80px;
    }

    @include responsive-600 {
        padding-top: 50px;
        padding-bottom: 50px;
    }


    // .list-product {
    //     display: flex;
    //     justify-content: center;
    //     gap: 30px;
    //     margin: auto;
    //     padding-bottom: 20px;

    //     flex-wrap: wrap;

    //     & > div {
    //         // width: calc(100% / 4px);
    //         min-width: calc(25% - 25px);
            
    //         @include responsive-1200 {
    //             min-width: calc(27% - 15px);
    //         }
    
    //         @include responsive-1024 {
    //             min-width: calc(30% - 15px);
    //         }
    
    //         @include responsive-945 {
    //             min-width: calc(40% - 15px);
    //         }
    
    //         @include responsive-768 {
    //             min-width: calc(48% - 15px);
    //         }
    
    
    //         @include responsive-600 {
    //             min-width: 100%;            
    //         }
    //     }
    // }



}



.list-product-cards {
    margin-top: 50px;

    & > div {
        justify-content: center;
    }

    .image-card {
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
        
        max-height: 180px;
        height: 180px;

    }
}