@import "./../../../../components/mixin";

.dashboard {
    height: 670px;
    background-color: #dee7f1;
    
    &-title {
        font-weight: 700;
        font-size: 75px;
        line-height: 91px;

        color: #000000;

        @include responsive-1024 {
            font-size: 68px;
        }

        @include responsive-945 {
            font-size: 57px;
            line-height: 82px;
        }

        @include responsive-768 {
            font-size: 50px;
            line-height: 62px;
        }

        @include responsive-600 {
            margin-top: 18px;
        }

        @include responsive-480 {
            font-size: 42px;
            line-height: 50px;
        }
    }

    &-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 34px;
        color: #333333;

        margin-top: 15px;

        @include responsive-1024 {
            font-size: 15px;
        }

        @include responsive-945 {
            font-size: 13px;
        }

        @include responsive-768 {
            margin-top: 30px;
        }

        @include responsive-480 {
            margin-top: 22px;
            line-height: 28px;
        }
    }

    &-button {
        margin-top: 45px !important;

        font-weight: 700 !important;
        font-size: 16px;
        line-height: 20px !important;
        text-transform: capitalize !important;

        color: #FFFFFF;
        
        padding: 17px 32px !important;
        max-width: 160px;
        max-height: 55px;

        border-radius: 50px !important;

        @include responsive-768 {
            padding: 12px 20px !important;
            border-radius: 10px;
        }
    }
    
    

    .image-seccion {
        justify-self: end;
        padding-right: 10px;
        position: relative;

        img {
            position: relative;
            z-index: 4;
            transition: .4s;

            @include responsive-1400 {
                width: 230px;
                margin-right: 20px;
                margin-top: 20px;
            }

            @include responsive-945 {
                width: 200px;
                margin-right: 40px;
                margin-top: 30px;
            }

            @include responsive-768 {
                width: 150px;

                margin-top: 50px;
                margin-right: 60px;
            }

            &:hover {
                margin-top: -10px;

                @include responsive-1400 {
                    margin-top: 5px;
                }

            }

            width: 100%;
            border-radius: 8px;
            max-height: 320px;
            object-fit: cover;
            object-position: center;
        }
    }

    .decoration {
        .option:nth-child(1) {
            position: absolute;
            width: 231px;
            height: 247px;
            z-index: 1;

            background: #C2E4CB;
            border-radius: 15px;

            top: 95px;
            right: 100px;

            @include responsive-1024 {
                top: 65px;
            }

            @include responsive-768 {
                top: 35px;
            }
        }

        .option:nth-child(2) {
            position: absolute;
            width: 106px;
            height: 113px;
            z-index: 3;            

            background: #36CECC;
            border-radius: 15px;

            top: 285px;
            right: 178px;

            @include responsive-1024 {
                top: 265px;
            }

            @include responsive-768 {
                top: 200px;
                right: 158px;
            }
        }

        .option:nth-child(3) {
            position: absolute;
            width: 231px;
            height: 247px;

            background: #27B1BF;
            border-radius: 15px;

            z-index: 2;
            top: 205px;
            right: 0;

            @include responsive-1024 {
                top: 185px;
            }

            @include responsive-768 {
                top: 145px;
            }
        }

        * {
            @include responsive-945 {
                scale: .9;
            }

            @include responsive-768 {
                scale: .7;
            }
        }
    }

    
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
        .col.text-seccion {
            max-width: 535px;
            padding-top: 48px;
            padding: 20px;

            @include responsive-1024 {
                padding-top: 10px;
            }
        }

        .col.image-seccion {
            max-width: 405px;
            margin-right: 65px;

            @include responsive-945 {
                margin-right: 20px;
            }


            @include responsive-600 {
                // grid-row:  1;

                // width: 100%;
                // margin: 0;
                // max-width: none;

                display: none;
            }
        }


        @include responsive-600 {
            grid-template-columns: 1fr;
        }
    }



    @include responsive-600 {
        height: auto;
        padding-bottom: 12px;
    }
}



.btn-orden-now {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        min-width: 140px;
    }
}