@import "./../mixin";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 145px;
    
    * {
        list-style: none;
    }


    & > ul {
        display: flex;
        align-items: inherit;
        gap: 15px;

        .header-logo {
            margin-right: 50px;

            img {
                @include responsive-768 {
                    width: 90px;
                }
            }
        }

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            cursor: pointer;
            
            &.active {
                font-weight: 700;
            }
            

            * {
                color: #333333;
            }

            &:not(.header-logo) {
                @include responsive-945 {
                    display: none;
                }
            }
        }

        &:nth-child(2) {
            gap: 10px;
        }
    }

    .btn {
        font-weight: 500 !important;
        padding: 13px 40px !important;
        border-radius: 50px !important;
        border-width: 2px !important;
        text-transform: capitalize;

        line-height: normal !important;

        @include responsive-945 {
            font-size: 14px;
        }


        @include responsive-768 {
            display: none;
        }
    }

    .movil {
        display: none;

        @include responsive-768 {
            display: initial;
            * {
                display: initial;
            }
        }
    }

    @include responsive-600 {
        height: 100px;
    }


    .header-logo {
        margin-right: 0 !important;

        img {
            width: 125px;
            object-fit: cover;
            border-radius: 15px;
        }

        @include responsive-600 {
            margin-top: 12px;
        }
    }
}

.btn-log-in {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    text-transform: capitalize !important;
    color: #333333 !important;

    padding: 13px 20px !important;
    border-radius: 50px !important;
}