@import "./../mixin";

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 145px;
    
    * {
        list-style: none;
    }


    ul {
        display: flex;
        align-items: inherit;
        gap: 32px;

        .header-logo {
            margin-right: 50px;

            img {
                @include responsive-768 {
                    width: 25px;
                }
            }
        }

        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            color: #333333;
            cursor: pointer;

            &.active {
                font-weight: 700;
            }


            &:not(.header-logo) {
                @include responsive-945 {
                    display: none;
                }
            }
        }
    }

    .btn {
        @include responsive-945 {
            font-size: 14px;
        }


        @include responsive-768 {
            display: none;
        }
    }

    .movil {
        display: none;
        padding: 12px 20px !important;

        @include responsive-768 {
            display: initial;
        }
    }

    @include responsive-600 {
        height: 100px;
    }
}