@import "./components/mixin";



:root {
    // --color-background: rgb(229, 246, 253);
    // --color-background: #f0e1c2;
    --color-background: #faf5e6;
    --color-background-secondary: #F3F6F9;
    --color-primary: #176585;
    --color-secondary: #27B1BF;
    --color-third: #36CECC;
    --color-fourth: #C2E4CB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    // font-family: 'Plus Jakarta Sans', sans-serif;

    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;


    @include responsive-1400 {
        max-width: 1200px;
    }

    @include responsive-1250 {
        max-width: calc(100% - 40px);
    }
}











@media screen and (min-width: 768px) {
    
    *::-webkit-scrollbar-track
    {
        background-color: #F5F5F5;
        border-radius: 50px;
    }
    
    *::-webkit-scrollbar
    {
        width: 8px;
        height: 8px;
        background-color: #F5F5F5;
    }
    
    *::-webkit-scrollbar-thumb
    {
        background-color: #000000;    
        border-radius: 50px;
    }
}


html {
    height: 100%;

    body {
        height: 100%;

        #root {
            height: inherit;
        }
    }
}






// Off canvas style 
.off-canvas {
    position: fixed;

    height: calc(100vh - 80px);
    width: 100%;

    background-color: white;
    z-index: 150;

    bottom: -100%;
    // left: 40px;
    transition: opacity .6s, bottom .6s;
    border-radius: 12px 12px 0px 0px;

    padding: 64px 0;

    overflow: overlay;

    &.open {
        bottom: 0;
        
        .off-close {
            position: fixed;
            top: 23px;
            right: 24px;
            width: 40px;
            background-color: white;
            height: 40px;
            border-radius: 100%;
            background-image: url(https://cdn-icons-png.flaticon.com/512/657/657059.png);
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            border: 0;
        }
    }


    @include responsive-768 {
        padding-top: 45px;
    }
    
    @include responsive-530 {
        padding-top: 30px;
    }
    
}

body.off {
    overflow: hidden;
    &::before {
        content: "";
        background-color: rgba(0,0,0,0.8);
        position: fixed;
        z-index: 145;
        width: 100%;
        height: 100%;
        top: 0;
    }
}


body:not(.off) .off-canvas {
    opacity: 0;
    pointer-events: none;
}




.maps {
    width: 100%;
    height: 100%;
    position: relative;

    * {
        cursor: pointer !important;
    } 
}


*:focus-visible {
    outline: none;
}



.MuiBadge-badge {
    z-index: 1000000 !important;
}